default:
  image: ubuntu:latest

stages:
  - test

test:
  script:
  - apt-get update -qy
  - apt-get install -y python3.7 python3-pip
  - pip3 install -r requirements.txt
  - pip3 install -e .
  - python3 tests/test_constructor.py
  - python3 tests/test_trees.py
